<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reponseUser">
            <h2><span jhiTranslate="geniusquizApp.reponseUser.detail.title">Reponse User</span> {{ reponseUser.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="geniusquizApp.reponseUser.dateReponse">Date Reponse</span></dt>
                <dd>
                    <span>{{ reponseUser.dateReponse }}</span>
                </dd>
                <dt><span jhiTranslate="geniusquizApp.reponseUser.libele">Libele</span></dt>
                <dd>
                    <span>{{ reponseUser.libele }}</span>
                </dd>
                <dt><span jhiTranslate="geniusquizApp.reponseUser.quizQuestion">Quiz Question</span></dt>
                <dd>
                    <div *ngIf="reponseUser.quizQuestionId">
                        <a [routerLink]="['/question', reponseUser.quizQuestionId, 'view']">{{ reponseUser.quizQuestionId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="geniusquizApp.reponseUser.evaluation">Evaluation</span></dt>
                <dd>
                    <div *ngIf="reponseUser.evaluationId">
                        <a [routerLink]="['/evaluation', reponseUser.evaluationId, 'view']">{{ reponseUser.evaluationId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="geniusquizApp.reponseUser.eventuelReponse">Eventuel Reponse</span></dt>
                <dd>
                    <span *ngFor="let eventuelReponse of reponseUser.eventuelReponses; let last = last">
                        <a [routerLink]="['/eventuel-reponse', eventuelReponse?.id, 'view']">{{ eventuelReponse.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reponse-user', reponseUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
