<div>
    <h2 id="page-heading">
        <span jhiTranslate="geniusquizApp.quiz.home.title">Quizzes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-quiz" [routerLink]="['/quiz/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="geniusquizApp.quiz.home.createLabel">
            Create a new Quiz
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="quizzes?.length === 0">
        <span jhiTranslate="geniusquizApp.quiz.home.notFound">No quizzes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="quizzes && quizzes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span jhiTranslate="geniusquizApp.quiz.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idMatiere"><span jhiTranslate="geniusquizApp.quiz.idMatiere">Id Matiere</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="entete"><span jhiTranslate="geniusquizApp.quiz.entete">Entete</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="geniusquizApp.quiz.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libele"><span jhiTranslate="geniusquizApp.quiz.libele">Libele</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="imageCouverture"><span jhiTranslate="geniusquizApp.quiz.imageCouverture">Image Couverture</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="duree"><span jhiTranslate="geniusquizApp.quiz.duree">Duree</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nbrQuestion"><span jhiTranslate="geniusquizApp.quiz.nbrQuestion">Nbr Question</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="datePublication"><span jhiTranslate="geniusquizApp.quiz.datePublication">Date Publication</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateExpiration"><span jhiTranslate="geniusquizApp.quiz.dateExpiration">Date Expiration</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="matiereId"><span jhiTranslate="geniusquizApp.quiz.matiere">Matiere</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let quiz of quizzes ;trackBy: trackId">
                    <td><a [routerLink]="['/quiz', quiz.id, 'view']">{{ quiz.id }}</a></td>
                    <td>{{ quiz.type }}</td>
                    <td>{{ quiz.idMatiere }}</td>
                    <td>{{ quiz.entete }}</td>
                    <td>{{ quiz.description }}</td>
                    <td>{{ quiz.libele }}</td>
                    <td>{{ quiz.imageCouverture }}</td>
                    <td>{{ quiz.duree | date:'medium' }}</td>
                    <td>{{ quiz.nbrQuestion }}</td>
                    <td>{{ quiz.datePublication | date:'medium' }}</td>
                    <td>{{ quiz.dateExpiration | date:'medium' }}</td>
                    <td>
                        <div *ngIf="quiz.matiereId">
                            <a [routerLink]="['/matiere', quiz.matiereId , 'view']" >{{ quiz.matiereId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/quiz', quiz.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/quiz', quiz.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(quiz)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="quizzes && quizzes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
