<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-chapitre-heading" jhiTranslate="geniusquizApp.chapitre.home.createOrEditLabel">Create or edit a Chapitre</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geniusquizApp.chapitre.libele" for="field_libele">Libele</label>
                    <input type="text" class="form-control" name="libele" id="field_libele"
                           formControlName="libele"/>
                    <div *ngIf="editForm.get('libele')!.invalid && (editForm.get('libele')!.dirty || editForm.get('libele')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('libele')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geniusquizApp.chapitre.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geniusquizApp.chapitre.imageCouverture" for="field_imageCouverture">Image Couverture</label>
                    <input type="text" class="form-control" name="imageCouverture" id="field_imageCouverture"
                           formControlName="imageCouverture"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geniusquizApp.chapitre.fichierCours" for="field_fichierCours">Fichier Cours</label>
                    <input type="text" class="form-control" name="fichierCours" id="field_fichierCours"
                           formControlName="fichierCours"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geniusquizApp.chapitre.matiere" for="field_matiere">Matiere</label>
                    <select class="form-control" id="field_matiere" name="matiere" formControlName="matiereId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="matiereOption.id" *ngFor="let matiereOption of matieres; trackBy: trackById">{{ matiereOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
